@layer vendor {
  @import "ng-zorro-antd/ng-zorro-antd.css";
}

@import "tailwindcss";

@theme {
  --color-primary: #924cfa;
  --color-background-light: #f7f5f8;
  --color-background-dark: #170f23;
  --color-surface-dark: #251b36;
  --color-border-dark: #3a2d52;
  
  --font-display: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
}

@layer base {
  body {
    @apply bg-background-dark font-display text-white;
  }
}
